* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #000000;
    background-color: #494949;
    font-family: 'Montserrat', sans-serif;
  }
  
  img {
    width: 75%;
    margin: 3%;
  }
  
  #displayEl, #searchContain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  li {
    margin: 2%;
    list-style-type: none;
    text-align: center;
    background-color: #7C7A7A;
    border-radius: 10px;
    border: solid 2px #869D7A;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #searchDisplay li{
    margin-bottom: 4%;
  }

  label {
    padding: 10px;
  }

  button {
    background-color: #7C7A7A;
    border: none;
    color: #000000;
    padding: 15px;
    border-radius: 12px;
    margin: 1%;
  }

  input {
    margin: 1%;
  }

  #details {
    position: sticky;
    top: 0;
  }

  p {
      padding: 10px;
  }